*{
    margin: 0;
    padding: 0;
}

#root{
    height: 100vh;
    width: 100vw;
}
#logo{
    margin: 142px 0px 50px 317px;
}

.user-form{  
    box-shadow: 0px 0px 25px 0px #00000080;
    z-index: 2;
    background-color:#ffffff;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    position: absolute;
    height: 979px;
    width: 715px;
    left: 1012px;
    top: 52px;
    border-radius: 10px;

}
.form-header{
    display: flex;
    justify-content: center;
    margin: 1rem 1rem 0rem 9rem;
    text-align: center;
    color: #473558;
    height: 42px;
    width: 492px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;

}
/* .form{


} */
.input::placeholder{
    padding-left:1rem;
 }
 .input:focus {
     /* background-color: #ff0; */
     box-shadow: 0 0 5px rgba(81, 203, 238, 1);
     border: 3px solid #306faa;
     outline: none;
 }
 .input{
     font-size: 20px;
     line-height: 23px;
     padding: 25px;
     text-align: left;
     margin: 15px 0px 0px 201px; 
     width: 380px;
     height: 53px;
     border-radius: 10px;
     background: #FFFFFF;
     border: 2px solid #666666;
     box-sizing: border-box;   
}

.btn{
    cursor:pointer;
    font-family: Roboto;
    border:none;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color:#ffffff;
    margin: 25px 0px 0px 201px; 
    width: 380px;
    height: 53px;
    background: #3E489A;
    border-radius: 10px;
}

.or{
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    margin: 3rem 0 1.5rem 3rem;
}

.or:before,
.or:after {
    margin: auto 25px;
    background-color: #666666;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}


.unregistered{
    margin: 2rem 1rem 0rem 4rem;
    color: #707070;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    font-family: Roboto;
    display: flex;
    justify-content: center;
}
.icons{
    display: flex;
    margin: 2rem 0 2rem 3rem;
    flex-wrap: wrap;
    justify-content: center;
}
.icon{
    margin: 10px 24px;
}
.background{
    z-index: 0;
    height: 1081px;
    width: 1219px;
    left: 0px;
    top: 1px;
    border-radius: 0px;
    background: radial-gradient(99.87% 413.14% at 0% 4.98%, #443453 0%, #232323 28.23%, #252425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

}
.forget-pass{
    margin-top: 10px; 
    display: flex;
    justify-content: end;
    margin-right: 8rem;
    text-decoration: none;
    text-align: right;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color:#ff0000;
}
.link{
    color:rgb(73, 156, 224);
    text-decoration: none;
    margin: 0px 20px;
}